<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Result</title>
</head>
<body>
  <h1>Survey Result</h1>
  <p>Score: <%= @score %></p>
  <p>Average Score: <%= @average_score %></p>
  <a href="/surveys/new">Take the survey again</a>
</body>
</html>